* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    --color1: #FFF;
    --color2: #181818;
}

.header {
    position: sticky;
    z-index: 1000;
    background-color: white;
    width: 100%;
    border-bottom: 2px solid black;
    /* position: absolute; */
}

.label {
    text-align: center;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 995px) {
    .label img {
        width: 70%;
        position: relative;
        /* top: 40px; */
    }
}

/* @media only screen and(max-width:925px){
    .label img{
        width:20px;
    }

} */

/* .nav{
    width: 100%;
} */

/* .nav {
    position: fixed;
    z-index: 1000;
    background-color: white;
    width: 100%;
} */

.nav ul {
    display: flex;
    justify-content: center;
    list-style: none;

}

.nav ul li {
    padding: 10px 10px 10px 10px;
    margin: 0 5px;
}

.nav ul li:hover {
    box-shadow: inset 0 4px 0 0 #ff9c08;
    /* display: inline-block;
    border-top: 4px solid orange; */
    cursor: pointer;
}

.nav ul li a {
    text-decoration: none;
    color: black;
}

.nav .bar {
    color: #000;
    text-align: center;
    display: none;
    font-size: 1.5rem;
    margin-top: 1%;
    cursor: pointer;
}

@media (max-width:800px) {
    .nav ul {
        display: none;
    }

    .nav .bar {
        display: block;
    }
}

.as1 {
    display: block;
    background-color: orange;
    text-align: center;
}

.line {
    font-size: 50px;
}

.as11 {
    padding: 1%;
    color: white;
    font-size: 2.5rem;
    font-family: 'Dhurjati', sans-serif;
    font-family: 'Rubik', sans-serif;
}



@media only screen and (min-width: 600px) {
    .box {
        width: 45%;
    }
}

@media (max-width: 600px) {
    .box {
        width: 45%;
    }

    .box:nth-child(3) {
        order: 4;
    }

    .box:nth-child(4) {
        order: 3;
    }
}


footer {
    text-align: center;
    background-color: orange;
    height: auto;
    /* font-family: 'Dhurjati', sans-serif;
    font-family: 'Rubik', sans-serif; */
}

/* .f1 p{
    color: white;
} */

.f1 p a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    z-index: 99;
}

.f1 i {
    font-size: 2rem;
    padding-top: 1%;
}

.f2 {
    font-size: 12px;
    color: white;
    font-weight: 100;
    padding: 1.5% 0;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: white;
    padding: 12px 20px;
}

/* .logo img{
    width: 100px;
} */

@media (min-width:800px) {
    .nav-bar {
        display: none;
    }
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    transition: 0.15s ease-in-out;
    text-transform: uppercase;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #FFF;
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu,
.close-menu {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    /* display: none; */
}

.open-menu {
    display: none;
    /* top:30%; */
    /* right: 20px; */
    transform: translate(-50%);
}

.close-menu {
    display: none;
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

@media(max-width: 800px) {
    .menu {
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: auto;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #717171;
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
    }

    /* .menu li a{ padding: 1px;}  */

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }
}

@media(max-width:800px) {
    .f1 {
        display: none;
    }
}

@media(min-width:800px) {
    .to-top {
        display: none;
    }
}

.to-top {
    background: rgb(43, 166, 203);
    position: fixed;
    bottom: 20px;
    width: 20px;
    height: auto;
    font-size: 20px;
    text-decoration: none;
    color: red;
    opacity: 0;
    pointer-events: none;
    transition: all .6s;
}

.to-top.active {
    bottom: 40px;
    pointer-events: auto;
    opacity: 1;
}