* {
    margin: 0;
    padding: 0;
}

.label {
    text-align: center;
    width: 100%;
    height: auto;
}

.header{
    border-bottom: 2px solid black;
}

@media only screen and (max-width: 995px) {
    .label img {
    width: 70%;
    position: relative;
    /* top: 40px; */
    }
    }



/* @media only screen and(max-width:925px){
    .label img{
        width:20px;
    }

} */
    
/* .nav{
    width: 100%;
} */


.nav ul{
    display: flex;
    justify-content: center;
    list-style: none;

}

.nav ul li {
    padding: 10px 10px 10px 10px;
    margin: 0 5px;
}

.nav ul li:hover {
    box-shadow: inset 0 4px 0 0 #ff9c08;
    /* display: inline-block;
    border-top: 4px solid orange; */
    cursor: pointer;
}

.nav ul li a {
    text-decoration: none;
    color: black;
}

.nav .bar{
    color: #000;
    text-align: center;
    display: none;
    font-size: 1.5rem;
    margin-top: 1%;
    cursor: pointer;
}



.dd-menu{
    display: none;
    list-style: none;
    position: absolute;
    right: 2rem;
    top: 8%;
    width: 300px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dd-menu .open{
    height: 240px;
}
.dd-menu li{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dd-menu li a{
    text-decoration: none;
    color: #000;
}

@media (max-width:850px){
    .nav ul{
        display: none;
    }
    .nav .bar{
        display: block;
    }
    .dd-menu{
        display: block;
    }
}

/* @media only screen and (max-width: 768px) {
    .nav ul {
       flex-direction: column;
       text-align: center;
    }
    .nav ul li {
       margin: 5px 0;
    }
 } */

.sec1 {
    background-repeat: no-repeat;
    text-align: center;
}

.sec1 img {
    max-width: 100%;
    height: auto;
}

.sec2 {
    background-color: rgb(230, 225, 225);
    padding: 2%;
    font-family: 'Dhurjati', sans-serif;
    font-family: 'Rubik', sans-serif;
}
.sec2 p {
    text-align: center;
    padding: 2%;
}

.sec2 span {
    margin-left: 37%;
    padding: 2%;
}

.sec2 span b {
    color: orange;
    font-size: 1.4rem;
}
.wrd{
    margin-left: 9%;
}

@media only screen and (max-width: 550px){
    .wrd{
        margin-left: 5px;
        font-size: 14px;
    }
    .sec2 span b {
        color: orange;
        font-size: 1rem;
    }
}

.line1{
    margin-left: 47%;
    border-bottom: 2px solid black;
    width: 5%;
    transform: rotate(140deg);
    transform-origin: top;
}
#philosophy {
    font-weight: bold;
    text-align: center;
    font-size: 200%;
    color: orange;
    padding: 2%;

}
.sec3{
    padding: 2%;
    font-family: 'Dhurjati', sans-serif;
    font-family: 'Rubik', sans-serif;
   
}

.line2{
    margin-left: 47%;
    border-bottom: 2px solid orange;
    width: 5%;
    transform: rotate(140deg);
    transform-origin: top;
}
#Services {
    font-weight: bold;
    text-align: center;
    font-size: 200%;
    color: orange;
    padding: 2%;

}
.bigbox {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin-left: 10%;
    flex-wrap: wrap;
  }

  .box {
    width: 20%;
    height: auto;
    /* height: 150px; */
    /* background-image: url(lines1.jpg); */
    background-color: #79757597;
    color: #f6f1f1;
    text-align: center;
    padding: 20px;
    margin: 2%;
    box-sizing: border-box;
    border-radius: 8px;
  }
#Num{
    font-size: 300%;
}
.bt{
    text-align: center;
}
.btn{
    /* margin-left: 46%; */
    margin-top: 2%;
    padding: 0.8% 2.5%;
    border: 3px solid orange;
    background-color: white;
    transition: 0.7s;
}
.btn a{
    text-decoration: none;
    color: black;
}
.btn:hover{
    color: orange;
}
.btn a:hover{
    cursor: pointer;
    color: orange;
}

/* @media only screen and (min-width:200px) and (max-width: 4000px) {

} */
/* @media only screen and (min-width:200px) and (max-width: 4000px) {

  
} */

.sec4{
    width: auto;
    position: relative;
    height: auto;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    background-image: url('e.webp'); 
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    
}

.j1 p{
    position: relative;
    font-family: 'Dhurjati', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin-left: 30%;
    padding-top: 3%;
    font-size: 60px;
    text-align: center;
    
}
.j2 p{
    position: relative;
    font-family: 'Dhurjati', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin-left: 30%;
    font-size: 60px;
    text-align: center;
}

.j3 .btn1{
    position: relative;
    font-family: 'Dhurjati', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin-left: 60%;
    margin-bottom: 7%;
    /* font-size: 60px; */
    text-align: center;
}

.btn1{
    position: relative;
    font-family: 'Dhurjati', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin-left: 63%;
    width: 10%;
    margin-top: 3%;
    padding: 0.5%;
    border: 2px solid white;
    border-radius: 25px;
    background-color: white;
    text-align: center;
}
.btn1 a{
    padding: 1%;
    text-decoration: none;
    color: orange;
}
.btn1:hover{
    cursor: pointer;
    background-color: orange;
    border: 2px solid orange;
    transition: 0.7s;
    color: white;

}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    /* height: auto; */
    position: relative;
    margin: auto;
   
}


.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

footer {
    text-align: center;
    background-color: orange;
    height: auto;
    /* font-family: 'Dhurjati', sans-serif;
    font-family: 'Rubik', sans-serif; */

}


/* .f1 p{
    color: white;
} */
.f1 p a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    z-index: 99;

}

.f1 i{
    font-size: 2rem;
    padding-top: 1%;
}
.f2{
    font-size: 12px;
    color: white;
    font-weight: 100;
    padding: 1.5% 0;
}